---
import Layout from "../layouts/Layout.astro";

// Use Astro.glob() to fetch all articles, and then sort them by date.
const articles = (await Astro.glob("./articles/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="Articles">
  <h1>Articles</h1>
  {
    articles.map((post) => (
      <li>
        <time datetime={post.frontmatter.date}>
          {new Date(post.frontmatter.date).toLocaleDateString("en-gb", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
        </time>
        <a href={post.url} class="font-bold underline">
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</Layout>
