---
const currentDate = new Date();
const currentYear = new Date().getFullYear();
---

<footer id="footer" class="border-t border-gray-400 mt-32">
  <div class="container flex justify-between items-center pt-10 pb-8">
    <div id="copyright">&copy; {currentYear} Darren Barklie</div>
    <div>
      <a href="/privacy" class="underline">Privacy Policy</a>
    </div>
  </div>
  <div id="nerd" class="container flex justify-between items-center pb-10">
    <div id="nerd" class="text-xs text-gray-400">
      Page rendered at {currentDate}
    </div>
  </div>
</footer>
