---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<li class="px-[8px] pt-[1px] pb-[3px] border border-gray-400 rounded mr-2">
  <span class="text-sm">{title}</span>
</li>
