---
import Layout from "../layouts/Layout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="Blog">
  <ul>
    {
      posts.map((post) => (
        <li class="grid mb-4">
          <a href={post.url} class="font-bold underline">
            {post.frontmatter.title}
          </a>
          <time datetime={post.frontmatter.date} class="text-sm">
            {new Date(post.frontmatter.date).toLocaleDateString("en-gb", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>
