---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/solid/Counter";

const title = "Home";
---

<Layout title={title}>
  <div class="container">
    <main>
      <h1>Home</h1>
      <Counter client:load>Hello, Solid</Counter>
    </main>
  </div>
</Layout>
