---
import Layout from "../../layouts/Layout.astro";
import BookmarkItem from "../../components/bookmarks/BookmarkItem.astro";

const bookmarks = await Astro.glob("../bookmarks/*.{md,mdx}");
---

<Layout title="Bookmarks">
  <div class="max-w-2xl">
    <ul>
      {bookmarks.map((item) => <BookmarkItem content={item.frontmatter} />)}
    </ul>
  </div>
</Layout>
