---
const { type, title } = Astro.props;
---

{
  type === "headline" ? (
    <article
      role="listitem"
      class="px-4 pt-4 pb-6 border border-gray-600 rounded my-4"
    >
      <span class="text-sm tracking-widest">Headline:</span>
      <h2 class="text-2xl">{title}</h2>
      <div class="text-base">
        <slot />
      </div>
    </article>
  ) : null
}
{
  type === "highlight" ? (
    <article
      role="listitem"
      class="px-4 pt-2 pb-4 border border-gray-400 rounded my-4"
    >
      <span class="text-xs tracking-widest">Highlight:</span>
      <h3 class="text-lg">{title}</h3>
      <div class="text-sm">
        <slot />
      </div>
    </article>
  ) : null
}
