---
const date = new Date();
---

<style>
  footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  #copyright {
    padding: 0.5rem 0;
  }
  #nerd {
    font-size: 0.5rem;
  }
</style>

<footer>
  <div id="copyright">&copy; 2022 Darren Barklie</div>
  <div id="nerd" class="small">Page rendered at {date}</div>
</footer>
