---
const homeLink = `/`;
---

<header class="border-b border-gray-400 mb-16">
  <div class="container py-4">
    <div id="brand" class="font-mono bold"><a href={homeLink}>daz.dev</a></div>
  </div>
</header>
