---
import HtmlHead from "../components/_globals/HtmlHead.astro";
import Header from "../components/_globals/header/Header.astro";
import Footer from "../components/_globals/Footer.astro";
import ArticleContainer from "../components/articles/ArticleContainer.astro";

export interface Props {
  title: string;
  categories: any;
}

const { content } = Astro.props;

// const { title } = Astro.props as Props;
// const allCategoriesData = generateCategoryData(categories);
---

<!DOCTYPE html>
<html lang="en">
  <HtmlHead title={content.title} />

  <body class="font-sans font-normal leading-relaxed font-base">
    <Header />
    <ArticleContainer>
      <slot />
    </ArticleContainer>
    <Footer />
  </body>
</html>
