---
import Brand from "./Brand.astro";
import Navigation from "./Navigation.astro";
---

<header id="header" class="border-b border-gray-400 mb-16">
  <div class="container flex justify-between items-center">
    <Brand />

    <Navigation />
  </div>
</header>
