---
const { title, url, img } = Astro.props;

interface Props {
  title: string;
  url: string;
  img: string;
}
---

<a
  href={url}
  target="_blank"
  class="px-4 grayscale-[100%] hover:grayscale-0 hover:transition-all duration-1000 hover:ease-in"
>
  <img src={img} alt={title} width="24px" height="24px" />
</a>
